{% extends 'base.html' %}
{% load static %}
{% block title %} Questions based on {{ category.title }} {% endblock %}
{% block content %}
    <div class="container">
        <h3 class="my-4"><span class="text-danger">{{ category.title }}</span> Questions</h3>
        <div class="card-my-4 border-dark shadow">
            <h4 class="card-header border-dark">{{ question.question }}</h4>
            <form method="post" action="{% url 'submit-answer' category.id question.id %}">
                {% csrf_token %}
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <td><input class="answer" value={{ question.option_1 }} id="option_1" name="answer"
                                       type="radio"/></td>
                            <th><label for="option_1">{{ question.option_1 }}</label></th>
                        </tr>
                        <tr>
                            <td><input class="answer" value={{ question.option_2 }} id="option_2" name="answer"
                                       type="radio"/></td>
                            <th><label for="option_2">{{ question.option_2 }}</label></th>
                        </tr>
                        <tr>
                            <td><input class="answer" value={{ question.option_3 }} id="option_3" name="answer"
                                       type="radio"/></td>
                            <th><label for="option_3">{{ question.option_3 }}</label></th>
                        </tr>
                        <tr>
                            <td><input class="answer" value={{ question.option_4 }} id="option_4" name="answer"
                                       type="radio"/></td>
                            <th><label for="option_4">{{ question.option_4 }}</label></th>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    <input type="submit" name="skip" value="Skip" class="btn btn-warning skipButton"/>
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary submitButton"/>
                </div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".submitButton").on('click', function () {
          var _checkedAnswer = $("input[name='answer']:checked").val()
          if (_checkedAnswer === undefined) {
            alert('Please select an option')
            return false
          }
        })

      })
    </script>

{% endblock %}