<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <style>
        .nav-link {
            display: inline-block;
            line-height: 54px;
            color: #4185d3;
            font-family: 'Roboto';
            text-transform: capitalize;
            font-weight: 500;
            font-size: 16px;
        }

        .nav {
            text-align: right;
        }

        .main {
            padding-top: 50px;
            padding-bottom: 50px;
            background: #f7f8fa;
            min-height: 100vh;
        }


    </style>
</head>
<body>


<!-- Header Start  -->
<div>
    <div>
        <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary shadow-sm bg-dark" id="pillNav2" role="tablist"
            style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
            <li class="nav-item" role="presentation">
                <a class="nav-link rounded-5" id="home-tab2"
                   aria-selected="true" href="{% url 'home' %}">Home
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link rounded-5" id="profile-tab2" href="{% url 'all_categories' %}">All Categories
                </a>
            </li>
            <li class="nav-item" role="presentation">
                {% if user.is_superuser %}
                    <a class="nav-link rounded-5" id="profile-tab2" href="{% url 'add-category' %}">Add Category</a>
                {% endif %}
            </li>
            <li class="nav-item" role="presentation">
                {% if user.is_authenticated %}
                    <a class="nav-link rounded-5" id="profile-tab2" href="{% url 'change_password' %}">Change Password</a>
                {% endif %}
            </li>
            <li class="nav-item" role="presentation">
                {% if user.is_authenticated %}
                    <a class="nav-link rounded-5" id="profile-tab2" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link rounded-5" id="profile-tab2" href="{% url 'login' %}">Login</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
<!-- Header End -->

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Change Password</button>
    </form>
</div>
</body>
</html>